
name: Demo
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Make script executable
        run: chmod +x env-demo.sh
      - name: Run script
        run: |
          ls
          ./env-demo.sh
